.mod-booking .results {
    border-collapse: separate;
}

.mod-booking .results .data {
    border-width: 1px;
    border-style: solid;
    border-color: #999;
}

.mod-booking-inlinetable {
    display: inline;
    background-color: transparent;
    /*float: left;*/
}

tr.mod-booking-booked td.cell {
    background-color: lightgreen;
}

tr.mod-booking-booked.inpast td.cell {
    background-color: #d6f9d9;
}

table.mod-booking-table td.cell {
    border-bottom: 1px solid #cecece;
}

table.mod-booking-table tr.inpast td.cell {
    color: #909090;
}

div.mod-booking-waitlist {
    background-color: orange;
    width: 100%;
    height: auto;
    display: block;
}

tr.mod-booking-watinglist td.cell {
    background-color: orange;
}

tr.mod-booking-invisible {
    visibility: hidden;
    height: 0;
    display: none;
}

/** Styles for subscriber tables on subscribeusers.php (book other users) */
.subscriberdiv,
.subscribertable {
    width: 100%;
    vertical-align: top;
}

.subscribertable tr td {
    vertical-align: top;
}

.subscribertable tr td.actions {
    width: 16%;
    padding-top: 3em;
}

.subscribertable tr td.actions .actionbutton {
    margin: 0.3em 0;
    padding: 0.5em 0;
    width: 100%;
}

.subscribertable tr td.existing,
.subscribertable tr td.potential {
    width: 42%;
}

/** styles for displaying all bookings */
.mod-booking-regular {
    display: table-cell;
    padding: 5px;
}

.mod-booking-waiting {
    display: table-cell;
    padding: 5px;
}

.br-theme-css-stars .br-widget {
    height: 28px;
    white-space: nowrap;
}

.br-theme-css-stars .br-widget a {
    text-decoration: none;
    height: 18px;
    width: 18px;
    float: left;
    font-size: 23px;
    margin-right: 5px;
}

.br-theme-css-stars .br-widget a:after {
    content: "\2605";
    color: #d2d2d2;
}

.br-theme-css-stars .br-widget a.br-active:after {
    color: #edb867;
}

.br-theme-css-stars .br-widget a.br-selected:after {
    color: #edb867;
}

.br-theme-css-stars .br-widget .br-current-rating {
    display: none;
}

.br-theme-css-stars .br-readonly a {
    cursor: default;
}

#booking-instance-description {
    margin-left: 10px;
}

#booking-business-card {
    margin-left: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px dashed lightgray;
}

.sports-badge {
    font-size: small;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.path-mod-booking .badge {
    position: unset;
}

.reoccurringdates {
    list-style-type: none;
}

.datepills {
    border-radius: 10px;
    font-family: "Lucida Console", monospace;
}

.icon-red {
    color: red;
}

.wunderbyte-table-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 10px;
    grid-gap: 20px;
}

.wunderbyte-table-grid .course-card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.wunderbyte-table-grid ul.infolist,
.course-content li.section li.activity ul ul.infolist {
    list-style: none;
}

.wunderbyte-table-grid ul.infolist {
    padding: 0;
    margin: 0;
}

.wunderbyte-table-grid .infolist .fa {
    width: 15px;
    text-align: center;
}

.wunderbyte-table-grid .list-group-item {
    border: 1px solid rgba(0, 0, 0, .125);
}

/* Semesters form */
#page-admin-mod-booking-semesters #semestersform {
    padding-top: 1rem;
}

input[name^='deletesemester'] {
    color: #ca3120;
    background-color: #fff;
    border-color: #ca3120;
    padding: 0.25rem 0.5rem;
    font-size: .8203125rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

input[name^='deletesemester']:hover {
    color: #fff;
    background-color: #ca3120;
    border-color: #ca3120;
    padding: 0.25rem 0.5rem;
    font-size: .8203125rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

input[name^='addsemester']:hover {
    color: #357a32;
    background-color: #fff;
    border-color: #357a32;
}

input[name^='addsemester'] {
    color: #fff;
    background-color: #357a32;
    border-color: #357a32;
}

/* Holidays form */
#page-admin-mod-booking-semesters #holidaysform {
    padding-top: 1rem;
}

input[name^='deleteholiday'] {
    color: #ca3120;
    background-color: #fff;
    border-color: #ca3120;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

input[name^='deleteholiday']:hover {
    color: #fff;
    background-color: #ca3120;
    border-color: #ca3120;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

input[name^='addholiday']:hover {
    color: #357a32;
    background-color: #fff;
    border-color: #357a32;
}

input[name^='addholiday'] {
    color: #fff;
    background-color: #357a32;
    border-color: #357a32;
}

#page-admin-mod-booking-semesters #holidaysform .form-check label {
    margin-bottom: 0;
}

/* Fix a bug where menu was disappearing behind the top of the table
if there only was one booking option. */
#page-mod-booking-view #region-main div.no-overflow {
    overflow: visible;
}

.booking-option-info-invisible {
    display: inline-block;
    background-color: #fff;
    color: #999;
    border: dashed 2px #999;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

#page-mod-booking-optiondates_teachers_report .modal-body {
    overflow-y: visible;
}

#page-mod-booking-optiondates_teachers_report .modal-content {
    overflow: visible;
}

#page-admin-mod-booking-optionformconfig .col-md-3 {
    display: none;
}

#page-admin-mod-booking-optionformconfig .mform {
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: ghostwhite;
    border-radius: 12px;
}

/* Booking rules. */
#page-mod-booking-edit-rules .booking-rules-cards {
    padding-top: 15px;
}
