{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/bookingpage/prepageinline

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Example context (json):
    {
        "optionid": "3",
        "userid": "1212",
        "uniquid": "0UEEoHJkKhrK0QdG",
        "totalnumberofpages": "3",
        "description": "My Text",
        "buttonhtml": "button HTML"
    }
}}
<div>

</div>

<div class=""
    data-toggle="collapse"
    data-target="#sbPrePageInline_{{optionid}}_{{uniquid}}"
    aria-expanded="false"
    aria-controls="sbPrePageInline_{{optionid}}_{{uniquid}}"
    role="button">
    {{{buttonhtml}}}
</div>


<div class="content w-100 inlineprepagearea">
    <div class="collapse prepage-inline prepage-body"
      id="sbPrePageInline_{{optionid}}_{{uniquid}}"
      data-uniquid="{{uniquid}}"
      data-optionid="{{optionid}}"
      data-userid="{{userid}}"
      data-pages="{{totalnumberofpages}}">
      <div class="modalHeader row"></div>
      <div class="modalMainContent row"></div>
      <div class="modalButtonAreaContainer row d-flex justify-content-center">
          <div class="modalButtonArea w-25"></div>
      </div>
      <div class="modalFooter row"></div>
    </div>
  </div>



{{#js}}
    require(['mod_booking/bookit'], function(fn) {
        fn.initprepageinline({{optionid}}, {{userid}}, {{totalnumberofpages}}, '{{uniquid}}');
    });
{{/js}}