{{=<% %>=}}

<%#arguments%>
            <% key %>
            <br>
            <% value %>
<%/arguments%>

<div>
<%#myform%>
    <ion-item>
      <ion-label>
        <% label %>
      </ion-label>
      <ion-checkbox 
        slot="start"
        name="<% name %>"
        [checked]="<% value %>"
        [(ngModel)]='CONTENT_OTHERDATA.data["<% name %>"]'
      >
      </ion-checkbox>
    </ion-item>
  <%/myform%>
</div>
