{{=<% %>=}}

<%#arguments%>
            <% key %>
            <br>
            <% value %>
<%/arguments%>

<div>
  <%#myform%>
    <ion-list>
      <ion-item>
        <ion-select aria-label="<% label %>" placeholder="<% label %>" [multiple]="true">
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  <%/myform%>
</div>
