{{=<% %>=}}

<%#arguments%>
            <% key %>
            <br>
            <% value %>
<%/arguments%>

<div>
  <%#myform%>
    <ion-item>
      <ion-text>
          <% value %>
      </ion-text>
    </ion-item>
  <%/myform%>
</div>
