{{=<% %>=}}

<%#arguments%>
            <% key %>
            <br>
            <% value %>
<%/arguments%>

<div>
  <ion-item>  
    <ion-input 
      label="a1"
      name="a1"
      style="--background: #f0f0f0;"
      [(ngModel)]='CONTENT_OTHERDATA.data["a1"]'
      >
    </ion-input>
  </ion-item>
  <ion-item>  
    <ion-input 
      label="a2"
      name="a2"
      style="--background: #f0f0f0;"
      [(ngModel)]='CONTENT_OTHERDATA.data["a2"]'
      >
    </ion-input>
  </ion-item>
</div>
