{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/bookingoption_changes

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region
}}

<table border="0">
    {{#changes}}
        <tr>
            <td><b>{{fieldname}}</b></td>
            <td style="color: red;"><s>{{oldvalue}}</s></td>
            <td style="color: green;">{{newvalue}}</td>
        </tr>
    {{/changes}}
</table>