{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/bookingoption_dates_custom_list_items

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Example context (json):
    {
        "dates": [
            {
                "dateid": "dateid-0",
                "starttimestamp": "1678120200",
                "endtimestamp": "1687797900",
                "string": "Monday, 6 March 2023, 4:30 PM - Monday, 26 June 2023, 5:45 PM"
            }
        ]
    }
}}
{{!
This layout produces "Element “li” not allowed as child of element “body” in this context" validation error
To eliminate it <li> tag has to be moved to the parent template
}}
{{#dates}}
<li class="mb-1">
    <span class="datepills text-white small py-1 px-4 bg-primary">
        {{string}}
    </span>
    <i class="fa fa-trash ml-2 icon-red" data-action="delete" data-targetid="{{dateid}}"></i>
</li>
{{/dates}}
