{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/booked_users

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Example context (json):
    {
        "bookedusers" : "<div></div>",
        "waitinglist" : "<div></div>",
        "reservedusers" : "<div></div>",
        "userstonotify" : "<div></div>",
        "deletedusers" : "<div></div>"
    }
}}
<div class="accordion mt-3 mb-3" id="accordion-usertables">
    {{#bookedusers}}
        <div class="card">
            <div class="card-header" id="accordion-heading-bookedusers">
                <div class="btn btn-link btn-block text-left btn-lg font-weight-bold" type="button" data-toggle="collapse" data-target="#accordion-item-bookedusers" aria-expanded="true" aria-controls="accordion-item-bookedusers">
                    <i class="fa fa-fw fa-ticket" aria-hidden="true"></i>&nbsp;{{#str}} bookedusers, mod_booking {{/str}}
                </div>
            </div>
            <div id="accordion-item-bookedusers" class="collapse show" aria-labelledby="accordion-heading-bookedusers" data-parent="#accordion-usertables">
            <div class="card-body">
                {{{bookedusers}}}
            </div>
            </div>
        </div>
    {{/bookedusers}}
    {{#waitinglist}}
        <div class="card">
            <div class="card-header" id="accordion-heading-waitinglist">
                <div class="btn btn-link btn-block text-left btn-lg font-weight-bold" type="button" data-toggle="collapse" data-target="#accordion-item-waitinglist" aria-expanded="false" aria-controls="accordion-item-waitinglist">
                    <i class="fa fa-fw fa-hourglass" aria-hidden="true"></i>&nbsp;{{#str}} waitinglist, mod_booking {{/str}}
                </div>
            </div>
            <div id="accordion-item-waitinglist" class="collapse" aria-labelledby="accordion-heading-waitinglist" data-parent="#accordion-usertables">
            <div class="card-body">
                {{{waitinglist}}}
            </div>
            </div>
        </div>
    {{/waitinglist}}
    {{#reservedusers}}
        <div class="card">
            <div class="card-header" id="accordion-heading-reservedusers">
                <div class="btn btn-link btn-block text-left btn-lg font-weight-bold" type="button" data-toggle="collapse" data-target="#accordion-item-reservedusers" aria-expanded="false" aria-controls="accordion-item-reservedusers">
                    <i class="fa fa-fw fa-shopping-cart" aria-hidden="true"></i>&nbsp;{{#str}} reservedusers, mod_booking {{/str}}
                </div>
            </div>
            <div id="accordion-item-reservedusers" class="collapse" aria-labelledby="accordion-heading-reservedusers" data-parent="#accordion-usertables">
            <div class="card-body">
                {{{reservedusers}}}
            </div>
            </div>
        </div>
    {{/reservedusers}}
    {{#userstonotify}}
        <div class="card">
            <div class="card-header" id="accordion-heading-userstonotify">
                <div class="btn btn-link btn-block text-left btn-lg font-weight-bold" type="button" data-toggle="collapse" data-target="#accordion-item-userstonotify" aria-expanded="false" aria-controls="accordion-item-userstonotify">
                    <i class="fa fa-fw fa-bell-o" aria-hidden="true"></i>&nbsp;{{#str}} userstonotify, mod_booking {{/str}}
                </div>
            </div>
            <div id="accordion-item-userstonotify" class="collapse" aria-labelledby="accordion-heading-userstonotify" data-parent="#accordion-usertables">
            <div class="card-body">
                {{{userstonotify}}}
            </div>
            </div>
        </div>
    {{/userstonotify}}
    {{#deletedusers}}
        <div class="card">
            <div class="card-header" id="accordion-heading-deletedusers">
                <div class="btn btn-link btn-block text-left btn-lg font-weight-bold" type="button" data-toggle="collapse" data-target="#accordion-item-deletedusers" aria-expanded="false" aria-controls="accordion-item-deletedusers">
                    <i class="fa fa-fw fa-ban" aria-hidden="true"></i>&nbsp;{{#str}} deletedusers, mod_booking {{/str}}
                </div>
            </div>
            <div id="accordion-item-deletedusers" class="collapse" aria-labelledby="accordion-heading-deletedusers" data-parent="#accordion-usertables">
            <div class="card-body">
                {{{deletedusers}}}
            </div>
            </div>
        </div>
    {{/deletedusers}}
</div>
