{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/bookingoption_description

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region
}}
{{#booknowbutton}}
    <div class="float-right">
        <div>
            {{{.}}}
        </div>
    </div>
{{/booknowbutton}}
<h4>{{#titleprefix}}{{.}} - {{/titleprefix}}{{title}}</h4>
{{#invisible}}
<div class="booking-option-info-invisible">{{#str}} invisibleoption, mod_booking {{/str}}</div>
{{/invisible}}
{{#imageurl}}<img src="{{{.}}}" class="img-fluid"/>{{/imageurl}}
{{#dayofweektime}}<div class="bo_dayofweektime">{{#str}}dayofweektime, mod_booking{{/str}}: {{.}}</div>{{/dayofweektime}}
{{#location}}<div class="bo_location">{{#str}}location, mod_booking{{/str}}: {{.}}</div>{{/location}}
{{#institution}}<div class="bo_institution">{{#str}}institution, mod_booking{{/str}}: {{.}}</div>{{/institution}}
{{#credits}}<div class="bo_credits">{{#str}}credits, mod_booking{{/str}}:  {{.}}</div>{{/credits}}
{{#address}}<div class="bo_address">{{#str}}address, mod_booking{{/str}}:  {{.}}</div>{{/address}}
{{#result}}<div class="bo_duration">{{#str}}bookingduration, mod_booking{{/str}}:  {{.}}</div>{{/result}}
{{#statusdescription}}<div class="bo_statusdescription"><p>{{{.}}}</p></div>{{/statusdescription}}
{{#description}}<div class="bo_description"><p>{{{.}}}</p></div>{{/description}}
{{#price}}<div class="bo_price">{{.}} {{currency}} {{pricecategoryname}}</div>{{/price}}
<div {{^teachers}} style="display:none"{{/teachers}}>
    {{#str}}teachers, mod_booking{{/str}}:
    <ul>
        {{#teachers}}
            <li>
                {{.}}
            </li>
        {{/teachers}}
    </ul>
</div>

<div id="collapseoptiondates_{{modalcounter}}" class="collapse list-group-item">
    <div class="list-group">
        {{#dates}}
            <div class="list-group-item">
                <div>
                    <b>{{{datestring}}}</b>
                </div>
                <div {{^customfields}}style="display:none"{{/customfields}}>
                    <ul>
                        {{#customfields}}
                            <li>
                                {{name}}{{{value}}}
                            </li>
                        {{/customfields}}
                    </ul>
                </div>
            </div>
        {{/dates}}
    </div>
</div>
