{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/bookingoption_description_mail

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Example context (json):
    {
        "title" : "My title",
        "location" : "location",
        "institution" : "institution",
        "address" : "address",
        "statusdescription" : "statusdescription",
        "booknowbutton": "booknow button HTML",
        "teachers": [
            "Maxima Yoga",
            "Teacher 1"
        ],
        "datesexist": true,
        "dates": [
            {
                "datestring": "datestring",
                "customfields": [
                    {
                        "name" : "custom field name",
                        "value" : "custom field value"
                    }
                ]
            }
        ],
        "bookedslotsexist": true,
        "bookedslots": [
            {"daylabel": "Friday, 4 September 2026", "timelabel": "9:20 AM - 10:00 AM",
             "hasteachers": true, "teacherlabel": "Petra Pruefer"}
        ]
    }
}}

<h4>{{{title}}}</h4>
{{#location}}{{#str}} location, mod_booking {{/str}}: {{{.}}}<br>{{/location}}
{{#institution}}{{#str}} institution, mod_booking {{/str}}: {{.}}<br>{{/institution}}
{{#address}}{{#str}} address, mod_booking {{/str}}:  {{.}}<br>{{/address}}
{{#statusdescription}}<p>{{{.}}}</p>{{/statusdescription}}
{{#description}}<p>{{{.}}}</p>{{/description}}
{{! Mails ignore style="display:none" of the partials, so empty blocks are left out here. }}
{{#teachers.0}}{{> mod_booking/bookingoption_description_teachers }}{{/teachers.0}}
{{#datesexist}}{{> mod_booking/bookingoption_description_optiondates }}{{/datesexist}}
{{! Slot booking options have no sessions: list the slots of the recipient instead (no cancel buttons in mails). }}
{{#bookedslotsexist}}
<div>
    <b>{{#str}} slot_report_numslots, mod_booking {{/str}}:</b>
    <ul>
        {{#bookedslots}}
            <li>{{daylabel}}, {{timelabel}}{{#hasteachers}} ({{#str}} slot_booked_examiners, mod_booking {{/str}}: {{teacherlabel}}){{/hasteachers}}</li>
        {{/bookedslots}}
    </ul>
</div>
{{/bookedslotsexist}}
<br>
{{#booknowbutton}}{{{.}}}{{/booknowbutton}}