{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/bookingoption_description_teachers

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Example context (json):
    {
        "teachers": [
            "Maxima Yoga",
            "Teacher 1"
        ]
    }
}}
<div {{^teachers}}style="display:none"{{/teachers}}>
    <b><i class="fa fa-graduation-cap" aria-hidden="true"></i> {{#str}} teachers, mod_booking {{/str}}:</b>
    <ul>
        {{#teachers}}
        <li>
            {{#teacherurl}}<a href="{{.}}" target="_blank">{{/teacherurl}}{{firstname}} {{lastname}}{{#teacherurl}}</a>{{/teacherurl}}
        </li>
        {{/teachers}}
    </ul>
</div>
