{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/col_responsiblecontact

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Example context (json):
    {
        "responsiblecontact": [
        {
            "name": "Maxima Yoga",
            "url": "https://www.maximayoga.example.com"
        },
        {
            "name": "Billy Teachy",
            "url": "https://www.johndoe.example.com"
        }
    ]
    }
}}
<span class="col-repsoniblecontact-repsonsiblecontacts-container flex-wrap-container">
{{#contacts}}
    <span class="col-repsoniblecontact-repsonsiblecontact flex-wrap-element">
    <i class="fa fa-user fa-fw text-gray" aria-hidden="true"></i>&nbsp;
    {{#url}}<a href="{{url}}">{{/url}}
        {{name}}
    {{#url}}</a>{{/url}}&nbsp;
    </span>
{{/contacts}}
</span>