{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/business_card

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region
}}
<div class='list-group bookingoptions'>
{{#bookingoptions}}
        <a class="list-group-item list-group-item-action" href={{linktooption}}>
            <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{#titleprefix}}{{titleprefix}} - {{/titleprefix}}{{bookingoptionname}}</h5>
                    
                    {{^iselective}}
                    <div>
                      {{{button}}}
                    </div>
                    {{/iselective}}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <div>
                        {{#dates}}
                            <small><p class="mb-1">{{{datestring}}}</p></small>
                        {{/dates}}
                    </div>
                </div>
            </div>
        </a>
{{/bookingoptions}}
</div>