{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/edit_bookingnotes

    Displays the value that can be edited inline.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-baid
    * data-note

    Context variables required for this template:
    * none

    Example context (json):
    {
        "baid" : "1",
        "note" : "This user has booked",
        "displayvalue" : "<span>This user has booked</span>"
    }
}}
{{#note}}
<span class="inplaceeditable inplaceeditingon" data-inplaceeditable="1" data-note="bookinganswer_note" data-type="text" data-baid="{{baid}}">
        <span class="bookingnote">{{{displayvalue}}}{{note}}</span>
        <a href="#" class="quickeditlink" data-inplaceeditablelink="1" title="{{# str }} edit {{/ str }}">
            <span class="quickediticon visibleifjs">{{#pix}}t/editstring,core,{{# str }} edit {{/ str }}{{/pix}}</span>
        </a>
</span>
{{#js}}
    require(['mod_booking/edit_note']);
{{/js}}
{{/note}}
{{^note}}
    {{{displayvalue}}}
{{/note}}

