{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/info_modal

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region
}}
<a href="#" data-toggle="modal" data-target="#descriptionModal{{modalcounter}}">
    <h5><i class="fa fa-info-circle"></i> {{#titleprefix}}{{.}} - {{/titleprefix}}{{modaltitle}}</h5>
</a>
<div class="modal fade" id="descriptionModal{{modalcounter}}" tabindex="-1" role="dialog"
    aria-labelledby="descriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-center" id="bo_modal_spinner_{{modalcounter}}" data-optionid="{{modalcounter}}" data-userid="{{userid}}">
                    <div class="spinner-border" role="status">
                    </div>
                </div>
                <div id="bo_modal_description_{{modalcounter}}" data-optionid="{{modalcounter}}" data-userid="{{userid}}">
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#invisible}}
<div class="booking-option-info-invisible">{{#str}} invisibleoption, mod_booking {{/str}}</div>
{{/invisible}}

{{#js}}
    require(['mod_booking/modal_init'], function(init) {
    init.init({{modalcounter}});
    });
{{/js}}