{{=<% %>=}}
<div>
    <ion-card>
        <ion-card-header>
            {{ 'plugin.mod_booking.managepresence' | translate }}
        </ion-card-header>
        <ion-card-content>
            <button ion-button (click)="callDone()">
                {{ 'plugin.mod_booking.confirmpresence' | translate }}
            </button>
        </ion-card-content>
    </ion-card>
</div>