<div>

    <ion-card>
        <ion-card-header>
            {{ 'plugin.mod_booking.managepresence' | translate }}
        </ion-card-header>
        <ion-card-content>
            opis
            <button ion-button icon-only (click)="callDone()">
        <ion-icon name="funnel"></ion-icon>
    </button>
        </ion-card-content>
    </ion-card>
</div>