{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/prepagemodal

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Example context (json):
    {
        "optionid": 3,
        "totalnumberofpages" : "My Modal",
        "description": "<b>My Text</b>",
    }
}}
<div href="#" data-toggle="modal" data-target="#sbPrePageModal{{optionid}}">
    {{{buttonhtml}}}
</div>
<div class="modal fade" id="sbPrePageModal{{optionid}}" tabindex="-1" role="dialog"
    aria-labelledby="sbPrePageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <div class="pageContent"></div>
                </p>
                <p>
                    <div class="d-flex w-100 justify-content-between">
                        <a class="btn btn-primary back-button hidden">
                            {{#str}} back {{/str}}
                        </a>
                        <a class="btn btn-primary continue-button hidden">
                            {{#str}} continue {{/str}}
                        </a>
                        <div class="in-modal-button">
                            {{{inmodalbuttonhtml}}}
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

{{#js}}
    require(['mod_booking/bookit'], function(init) {
    init.initprepagemodal({{optionid}}, {{totalnumberofpages}});
    });
{{/js}}