{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/table_list
    Template which defines a mooduell view page.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * statistics - array: An array with values.
    * opengames - array: empty array, will be filled with JS.
    * finishedgames - array: empty array, will be filled with JS.
    * highscores - array: empty array, will be filled with JS.

   Example context (json):
   {
   "table": {
      "rows": [
         {
         "table_list_row": "table_list_row JSON"
         }
      ],
      "component_pagination": "component_pagination JSON"
   },
   "js": {
      "idstring": "example_idstring",
      "encodedtable": "example_encodedtable",
      "shoppingcartisavailable": true
   }
   }
}}

{{#table}}
<div class="wunderbyte-table-list">
     <div class="rows-container container-fluid">
          {{#rows}}
               {{> mod_booking/table_list_row }}
          {{/rows}}
     </div>
     {{> local_wunderbyte_table/component_pagination }}
</div>
{{/table}}

{{#js}}
    require(['local_wunderbyte_table/init'], function(init) {
     init.init('{{idstring}}', '{{encodedtable}}');
    });

    require(['mod_booking/view_actions'], function(fn) {
     fn.setup();
    });

    {{#shoppingcartisavailable}}
    require(['local_shopping_cart/cart'], function(cart) {
     cart.buttoninit(null, 'mod_booking');
    });
    {{/shoppingcartisavailable}}

    require(['mod_booking/modal_init'], function(init) {
     init.init();
    });

    require(['mod_booking/button_notifyme'], function(init) {
     init.init();
    });

    require(['mod_booking/bookit'], function(init) {
     init.initbookitbutton(null, null);
    });

    require(['mod_booking/bookit'], function(init) {
     init.initprepagemodal(null, null, null, null);
    });
{{/js}}