{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/view

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

   Example context (json):
   {
      "whatsnewtable" : null,
      "alloptionstable" : "HTML alloptionstable",
      "activeoptionstable" : "HTML activeoptionstable",
      "myoptionstable" : "HTML myoptionstable",
      "optionsiteachtable" : null,
      "responsiblecontacttable": null,
      "showonlyonetable" : null,
      "myinstitutiontable" : null,
      "showonlyone" : null,
      "showactive" : null,
      "showall" : true,
      "mybooking" : null,
      "myoptions" : null,
      "myinstitution" : null,
      "myinstitutionname" : null
    }
}}
<ul class="nav nav-tabs" id="nav-tabs-booking-options-view" role="tablist">
  {{^elective}}
    {{#showonlyone}}
      <li class="nav-item me-1" role="presentation">
        <button class="nav-link active" id="showonlyone-tab"
          data-toggle="pill" data-target="#showonlyone"
          data-bs-toggle="pill" data-bs-target="#showonlyone"
          type="button" role="tab" aria-controls="showonlyone" aria-selected="true">
          <i class="fa fa-ticket" aria-hidden="true"></i> {{#str}} bookingoption, mod_booking {{/str}}
        </button>
      </li>
    {{/showonlyone}}
    {{#whatsnewtable}}
      <li class="nav-item me-1" role="presentation">
        <button class="nav-link {{#showwhatsnew}}active{{/showwhatsnew}}" id="whatsnew-tab"
          data-toggle="pill" data-target="#whatsnew"
          data-bs-toggle="pill" data-bs-target="#whatsnew"
          type="button" role="tab" aria-controls="whatsnew" aria-selected="true">
          <i class="fa fa-bullhorn" aria-hidden="true"></i> {{#whatsnewtabtitle}}{{.}}{{/whatsnewtabtitle}}
        </button>
      </li>
    {{/whatsnewtable}}
    {{#alloptionstable}}
      <li class="nav-item me-1" role="presentation">
        <button class="nav-link {{#showall}}active{{/showall}}" id="all-options-tab"
          data-toggle="pill" data-target="#all-options"
          data-bs-toggle="pill" data-bs-target="#all-options"
          type="button" role="tab" aria-controls="all-options" aria-selected="true">
          <i class="fa fa-list" aria-hidden="true"></i> {{#str}} showallbookingoptions, mod_booking {{/str}}
        </button>
      </li>
    {{/alloptionstable}}
    {{#activeoptionstable}}
      <li class="nav-item me-1" role="presentation">
        <button class="nav-link {{#showactive}}active{{/showactive}}" id="active-options-tab"
          data-toggle="pill" data-target="#active-options"
          data-bs-toggle="pill" data-bs-target="#active-options"
          type="button" role="tab" aria-controls="active-options" aria-selected="true">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i> {{#str}} activebookingoptions, mod_booking {{/str}}
        </button>
      </li>
    {{/activeoptionstable}}
    {{#myoptionstable}}
      <li class="nav-item me-1" role="presentation">
        <button class="nav-link {{#mybooking}}active{{/mybooking}}" id="my-options-tab"
          data-toggle="pill" data-target="#my-options"
          data-bs-toggle="pill" data-bs-target="#my-options"
          type="button" role="tab" aria-controls="my-options" aria-selected="true">
          <i class="fa fa-check-square-o" aria-hidden="true"></i> {{#str}} showmybookingsonly, mod_booking {{/str}}
        </button>
      </li>
    {{/myoptionstable}}
    {{#myfavoritestable}}
      <li class="nav-item me-1" role="presentation">
        <button class="nav-link {{#myfavorites}}active{{/myfavorites}}" id="my-favorites-tab"
          data-toggle="pill" data-target="#my-favorites"
          data-bs-toggle="pill" data-bs-target="#my-favorites"
          type="button" role="tab" aria-controls="my-favorites" aria-selected="true">
          <i class="fa fa-star-o" aria-hidden="true"></i> {{#str}} showmyfavoritesonly, mod_booking {{/str}}
        </button>
      </li>
    {{/myfavoritestable}}
    {{#optionsiteachtable}}
      <li class="nav-item me-1" role="presentation">
        <button class="nav-link {{#myoptions}}active{{/myoptions}}" id="options-i-teach-tab"
          data-toggle="pill" data-target="#options-i-teach"
          data-bs-toggle="pill" data-bs-target="#options-i-teach"
          type="button" role="tab" aria-controls="options-i-teach" aria-selected="true">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i> {{#str}} optionsiteach, mod_booking {{/str}}
        </button>
      </li>
    {{/optionsiteachtable}}
    {{#responsiblecontacttable}}
      <li class="nav-item me-1" role="presentation">
        <button class="nav-link {{#optionsiamresponsiblefor}}active{{/optionsiamresponsiblefor}}" id="options-i-am-responsible-for-tab"
          data-toggle="pill" data-target="#options-i-am-responsible-for"
          data-bs-toggle="pill" data-bs-target="#options-i-am-responsible-for"
          type="button" role="tab" aria-controls="options-i-am-responsible-for" aria-selected="true">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{#str}} optionsiamresponsiblefor, mod_booking {{/str}}
        </button>
      </li>
    {{/responsiblecontacttable}}
    {{#myinstitutiontable}}
      <li class="nav-item me-1" role="presentation">
        <button class="nav-link {{#myinstitution}}active{{/myinstitution}}" id="myinstitution-tab"
          data-toggle="pill" data-target="#myinstitution"
          data-bs-toggle="pill" data-bs-target="#myinstitution"
          type="button" role="tab" aria-controls="myinstitution" aria-selected="true">
          <i class="fa fa-university" aria-hidden="true"></i> {{#str}} myinstitution, mod_booking {{/str}}{{#myinstitutionname}} ({{{.}}}){{/myinstitutionname}}
        </button>
      </li>
    {{/myinstitutiontable}}
    {{#visibleoptionstable}}
      <li class="nav-item me-1" role="presentation">
        <button class="nav-link {{#visibleoptions}}active{{/visibleoptions}}" id="visibleoptions-tab"
          data-toggle="pill" data-target="#visibleoptions"
          data-bs-toggle="pill" data-bs-target="#visibleoptions"
          type="button" role="tab" aria-controls="visibleoptions" aria-selected="true">
          <i class="fa fa-eye" aria-hidden="true"></i> {{#str}} visibleoptions, mod_booking {{/str}}
        </button>
      </li>
    {{/visibleoptionstable}}
    {{#invisibleoptionstable}}
      <li class="nav-item me-1" role="presentation">
        <button class="nav-link {{#invisibleoptions}}active{{/invisibleoptions}}" id="invisibleoptions-tab"
          data-toggle="pill" data-target="#invisibleoptions"
          data-bs-toggle="pill" data-bs-target="#invisibleoptions"
          type="button" role="tab" aria-controls="invisibleoptions" aria-selected="true">
          <i class="fa fa-eye-slash" aria-hidden="true"></i> {{#str}} invisibleoptions, mod_booking {{/str}}
        </button>
      </li>
    {{/invisibleoptionstable}}
    {{#bulkoperationstable}}
      <li class="nav-item me-1" role="presentation">
        <button class="nav-link {{#bulkoperations}}active{{/bulkoperations}}" id="bulkoperations-tab"
          data-toggle="pill" data-target="#bulkoperationsview"
          data-bs-toggle="pill" data-bs-target="#bulkoperationsview"
          type="button" role="tab" aria-controls="bulkoperationsview" aria-selected="true">
          <i class="fa fa-tasks" aria-hidden="true"></i> {{#str}} bulkoperationstab, mod_booking {{/str}}
        </button>
      </li>
    {{/bulkoperationstable}}
    {{#fieldofstudytable}}
      <li class="nav-item me-1" role="presentation">
        <button class="nav-link {{#showfieldofstudy}}active{{/showfieldofstudy}}" id="showfieldofstudy-tab"
          data-toggle="pill" data-target="#showfieldofstudy"
          data-bs-toggle="pill" data-bs-target="#showfieldofstudy"
          type="button" role="tab" aria-controls="showfieldofstudy" aria-selected="true">
          <i class="fa fa-book" aria-hidden="true"></i> {{#str}} showmyfieldofstudyonly, mod_booking {{/str}}
        </button>
      </li>
    {{/fieldofstudytable}}
  {{/elective}}
  {{#elective}}
    <li class="nav-item me-1" role="presentation">
      <button class="nav-link {{#elective}}active{{/elective}}" id="elective-tab"
        data-toggle="pill" data-target="#elective"
        data-bs-toggle="pill" data-bs-target="#elective"
        type="button" role="tab" aria-controls="elective" aria-selected="true">
        <i class="fa fa-puzzle-piece" aria-hidden="true"></i> {{#str}} elective, mod_booking {{/str}}
      </button>
    </li>
  {{/elective}}
  </ul>
  <div class="tab-content" id="pills-tabContent">
    {{#showonlyone}}
      <div class="tab-pane fade show active" id="showonlyone" role="tabpanel" aria-labelledby="showonlyone-tab">{{{showonlyonetable}}}</div>
    {{/showonlyone}}
    {{#whatsnewtable}}
      <div class="tab-pane fade {{#showwhatsnew}}show active{{/showwhatsnew}}" id="whatsnew" role="tabpanel" aria-labelledby="whatsnew-tab">{{{whatsnewtable}}}</div>
    {{/whatsnewtable}}
    {{#alloptionstable}}
      <div class="tab-pane fade {{#showall}}show active{{/showall}}" id="all-options" role="tabpanel" aria-labelledby="all-options-tab">{{{alloptionstable}}}</div>
    {{/alloptionstable}}
    {{#activeoptionstable}}
      <div class="tab-pane fade {{#showactive}}show active{{/showactive}}" id="active-options" role="tabpanel" aria-labelledby="active-options-tab">{{{activeoptionstable}}}</div>
    {{/activeoptionstable}}
    {{#myoptionstable}}
      <div class="tab-pane fade {{#mybooking}}show active{{/mybooking}}" id="my-options" role="tabpanel" aria-labelledby="my-options-tab">{{{myoptionstable}}}</div>
    {{/myoptionstable}}
    {{#myfavoritestable}}
      <div class="tab-pane fade {{#myfavorites}}show active{{/myfavorites}}" id="my-favorites" role="tabpanel" aria-labelledby="my-favorites-tab">{{{myfavoritestable}}}</div>
    {{/myfavoritestable}}
    {{#optionsiteachtable}}
      <div class="tab-pane fade {{#myoptions}}show active{{/myoptions}}" id="options-i-teach" role="tabpanel" aria-labelledby="options-i-teach-tab">{{{optionsiteachtable}}}</div>
    {{/optionsiteachtable}}
    {{#responsiblecontacttable}}
      <div class="tab-pane fade {{#optionsiamresponsiblefor}}show active{{/optionsiamresponsiblefor}}" id="options-i-am-responsible-for" role="tabpanel" aria-labelledby="options-i-am-responsible-for">{{{responsiblecontacttable}}}</div>
    {{/responsiblecontacttable}}
    {{#myinstitutiontable}}
      <div class="tab-pane fade {{#myinstitution}}show active{{/myinstitution}}" id="myinstitution" role="tabpanel" aria-labelledby="myinstitution-tab">{{{myinstitutiontable}}}</div>
    {{/myinstitutiontable}}
    {{#visibleoptionstable}}
      <div class="tab-pane fade {{#visibleoptions}}show active{{/visibleoptions}}" id="visibleoptions" role="tabpanel" aria-labelledby="visibleoptions-tab">{{{visibleoptionstable}}}</div>
    {{/visibleoptionstable}}
    {{#invisibleoptionstable}}
      <div class="tab-pane fade {{#invisibleoptions}}show active{{/invisibleoptions}}" id="invisibleoptions" role="tabpanel" aria-labelledby="invisibleoptions-tab">{{{invisibleoptionstable}}}</div>
    {{/invisibleoptionstable}}
    {{#bulkoperationstable}}
      <div class="tab-pane fade {{#bulkoperations}}show active{{/bulkoperations}}" id="bulkoperationsview" role="tabpanel" aria-labelledby="bulkoperations-tab">{{{bulkoperationstable}}}</div>
    {{/bulkoperationstable}}
    {{#fieldofstudytable}}
      <div class="tab-pane fade {{#showfieldofstudy}}show active{{/showfieldofstudy}}" id="showfieldofstudy" role="tabpanel" aria-labelledby="showfieldofstudy-tab">{{{fieldofstudytable}}}</div>
    {{/fieldofstudytable}}
    {{#elective}}
      {{> mod_booking/elective/component_elective }}
      <div class="tab-pane fade {{#elective}}show active{{/elective}}" id="elective" role="tabpanel" aria-labelledby="elective-tab">{{{electivetable}}}</div>
      {{> mod_booking/elective/component_elective_modal }}
    {{/elective}}
</div>
